.bagPreview {
  max-height: 20rem;
  width: 15.5rem;

  background-color: var(--background-header);
}

.items {
  overflow-y: scroll;
  max-height: 12.2rem;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray100);
  margin-bottom: 1rem;

  img {
    width: 3.9rem;
    height: 3.9rem;
    margin-right: 0.5rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .price {
      font-size: 1rem;
      line-height: 1.25rem;
      font-weight: 700;
    }

    .infoContent {
      display: flex;
      gap: 0.7rem;
    }
  }

  .options {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .sizeColor {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.4rem;
    }

    .size {
      font-size: 0.6rem;
      line-height: 1.25rem;
      font-weight: 400;
      color: var(--gray100);
      padding: 0rem 0.2rem;
      border: 1px solid var(--gray100);
    }

    .remove {
      background-color: var(--background-header);

      color: var(--gray100);
      padding: 0.2rem;
      border: none;
    }
  }
}

.total {
  display: flex;
  justify-content: space-between;
  color: var(--gray100);
  padding-right: 0.2rem;

  span:first-child {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.25rem;
  }

  .priceTotal {
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.25rem;
  }
}

.buttonCheckout {
  width: 98%;
  height: 3rem;

  background-color: var(--gray300);
  border: none;
  color: var(--background-header);
  margin-top: 1.5rem;
}

.bagEmpty {
  text-align: center;
  margin-top: 0.3rem;

  color: var(--white);
}
